---
name: ci

on:
  pull_request:
    branches: ["*"]
    paths:
      - ".github/workflows/ci.yml"
      - "colors/**"
      - "lua/**"
      - "spec/**"
      - "init.lua"
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1.6.0
        with:
          neovim: true
          version: v0.10.2
      
      - name: bootstrap plenary.nvim
        run: |
          set -euo pipefail

          export HEAD=b9fd5226c2f76c951fc8ed5923d85e4de065e509
          export CWD=$(pwd)

          mkdir -p ~/.local/share/nvim/site/pack/vendor/start/plenary.nvim
          cd ~/.local/share/nvim/site/pack/vendor/start/plenary.nvim
          git init
          git remote add origin https://github.com/nvim-lua/plenary.nvim
          git fetch --depth 1 origin $HEAD
          git reset --hard $HEAD

      - name: running tests
        run: |
          nvim --headless --noplugin -u spec/init.vim -c "PlenaryBustedDirectory spec/ {minimal_init = 'spec/init.vim'}"
